<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hreminder">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!--suppress DeprecatedClassUsageInspection -->
    <uses-permission
        android:name="android.permission.USE_FINGERPRINT"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.fingerprint"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".Activities.FingerprintPrActivity"
            tools:ignore="InnerclassSeparator" />
        <activity android:name=".Activities.ChangeProfileActivity"
            tools:ignore="InnerclassSeparator" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".Activities.ChangePinActivity"
            android:exported="true"
            tools:ignore="InnerclassSeparator">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hreminder.Activities.SettingsActivity" />
        </activity>
        <activity
            android:name=".Activities.SettingsActivity"
            android:exported="true"
            tools:ignore="InnerclassSeparator">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hreminder.Activities.SettingsActivity" />
        </activity>
        <activity
            android:name=".Activities.CalenderActivity"
            android:exported="true"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activities.RegisterActivity"
            android:exported="true"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activities.DoctorsMapActivity"
            android:exported="true"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activities.LastAppointmentsActivity"
            android:exported="true"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activities.UserProfilActivity"
            android:exported="true"
            tools:ignore="InnerclassSeparator" />
        <activity android:name=".Activities.MainActivity"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BehindTheScenes.BaseActitivty"
            tools:ignore="InnerclassSeparator" />
    </application>

</manifest>